*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:'Segoe UI',sans-serif;

}


body{

background:#00111f;

color:white;

min-height:100vh;

display:flex;

overflow:hidden;

}



/* SIDEBAR */

.sidebar{

width:260px;

height:100vh;

background:#001b2e;

border-right:1px solid #00eaff;

padding:25px;

position:fixed;

left:0;

top:0;

}



.logo{

font-size:25px;

font-weight:bold;

color:#00eaff;

text-align:center;

margin-bottom:40px;

}



.sidebar a{

display:block;

color:white;

text-decoration:none;

padding:15px;

margin:10px 0;

border-radius:10px;

transition:.3s;

}



.sidebar a:hover{

background:#00eaff;

color:#00111f;

}





/* MAIN */

.main{

margin-left:260px;

width:calc(100% - 260px);

height:100vh;

overflow-y:auto;

padding:30px;

}




.header{

font-size:28px;

color:#00eaff;

margin-bottom:30px;

}




/* CARDS */

.cards{

display:grid;

grid-template-columns:
repeat(auto-fit,minmax(220px,1fr));

gap:20px;

}



.card{

background:
rgba(255,255,255,0.08);

padding:25px;

border-radius:20px;

border:1px solid #00eaff;

box-shadow:
0 0 15px rgba(0,234,255,.3);

}



.card h3{

color:#00eaff;

}



.number{

font-size:40px;

font-weight:bold;

margin-top:15px;

}





/* MOBILE */

@media(max-width:700px){


.sidebar{

width:80px;

}



.sidebar a{

font-size:0;

}



.main{

margin-left:80px;

width:calc(100% - 80px);

padding:15px;

}


}
